.DS_Store
.sass-cache/

# Ignore vim temp files
*.swp
*.swo

/m
/p
/s
/old-s
m.txt
p.txt
s.txt
ios/MoeDict.xcodeproj/project.xcworkspace/xcuserdata
node_modules/
npm-debug.log
lenToRegex.*.json
prefix.json
/dict-amis-mp.json
/revdict-amis-def.txt
/revdict-amis-ex.txt
/styles.css
/js/deps.js
